/* Fuentes */
:root{
    --fuenteHeading: 'DM Serif Display', serif;
    --fuenteParrafo: 'Cormorant Garamond', serif;

    /*Colores*/
    --ColorPrincipal: #037E8C;
    --ColorSecundario: #13C0E5;
    --ColorClaro: #f4f4f2;
    --ColorContraste: #7EC544;
}

* {  /*Margen y padding general*/
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body { /*Estilos para el body*/

    font-family: var(--fuenteParrafo);
    font-size: 1.5rem;
    background-color: #f4f4f2;
}


h1 { /*Estilos H1*/

    font-family: var(--fuenteHeading);
      font-size:5rem; 
    text-align: center;
    margin-bottom: 60px;
    color: #F4F4F2 ;
}

.h2{ /*Estilos H2 - Color*/

    color: #F4F4F2;
}

h2 { /*Estilos H2*/

    font-family: var(--fuenteHeading);
    font-size: 2.5rem; /*2rem*/
    text-align: center;
    margin-bottom: 60px;
    
}

.h2-centrar{
    color: var(--ColorClaro);
    text-align: center;

}

h3 { /*Estilos H3*/

    font-family: 'DM Serif Display', serif;
    text-align: center;
    margin-bottom: 60px;
}

h4 { /*Estilos H4*/

    font-family: 'DM Serif Display', serif;
    text-align: center;
    margin-bottom: 60px;
}

h5 { /*Estilos H5*/

    font-family: 'DM Serif Display', serif;
    text-align: center;
    margin-bottom: 60px;
}


p { /*Estilos para párrafos*/

    font-family: var(--fuenteParrafo)
    
}

nav{ /*Estilo para nav*/

    text-align: right;
    padding: 30px 50px 0 0;
    position: absolute;
    width:100%;
}


header .textos-header{ /* Estilos Textos del header*/

    display: flex;
    height: 270px;
    width: 100%;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    text-align: center;
   
}

/* Estilos para las tarjetas de "Quienes Sómos"*/

.bg-azul{
    /*background-color: #037e8cce;*/
    background-image: linear-gradient(#037e8cce,#13C0E5,#f4f4f2);
  }
  
.bg-azulclaro{
  
    background-color: #13C0E5;;
}
  
  .txtBlanco{
    color:#f4f4f2;
}
  
  .txtNegro{
    color: #000000;
  }
  
  .bg-claro{
  
    background-image: linear-gradient(#f4f4f2, #13C0E5,#037e8cce);
  }



